.welcome-card {
	font-family: 'Arial', sans-serif;
	text-align: center;
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	background-color: #f0f8ff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-card h1 {
	color: #333;
	margin-bottom: 10px;
}
.welcome-card p {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5rem;
	padding: 1rem 2rem;
}

.welcome-button {
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: #4caf50;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.welcome-button:hover {
	background-color: #45a049;
}
