body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#posts {
  text-align: left;
  margin-top: 20px;
}

.post {
  background-color: #ececec;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.post h3 {
  text-align: center;
}
