/* EventCard.css */
.eventCard {
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.eventCard .title {
	color: #333;
	font-size: 18px;
	font-weight: 600;
	margin: 15px;
}

.eventCard .dateLocation {
	color: #555;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
}

.eventCard .description {
	font-size: 14px;
	line-height: 1.5;
	color: #666;
	margin: 0 15px 15px;
}

/* Adding a hover effect to make the cards interactive */
.eventCard:hover {
	transform: translateY(-5px);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
